@model IEnumerable<CoolBook.Controllers.UsersController.FullUser>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link href="@Url.Content("~/css/Users/Search.css")" rel="stylesheet" type="text/css" />
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form class="container-fluid cb-user-search" asp-action="Index">
    <input id="search" name="search" class="form-control" />
    <input type="submit" formmethod="get" value="Search" class="btn btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserInfo.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserInfo.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserInfo.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserInfo.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.User.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.User.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="@Url.Content("~/js/Users/Search.js")"></script>
}