@model CoolBook.Controllers.UsersController.FullUser

@{
    ViewData["Title"] = "Profile";
}

<h1>User Profile</h1>

<div>
    <hr />

    <div class="cb-details">
        <img src="~/Sample_User_Icon.png" alt="@Html.DisplayFor(model => model.User.UserName)" />

        <div class="cb-details-cols">
            <div>
                <h4>
                    @Html.DisplayNameFor(model => model.User.UserName)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.User.Email)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.User.Role)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.UserInfo.FullName)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.UserInfo.Gender)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.UserInfo.BirthDate)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.UserInfo.Address)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.UserInfo.PhoneNumber)
                </h4>
            </div>
            <div>
                <h4>
                    @Html.DisplayFor(model => model.User.UserName)
                </h4>
                <h4>
                    @Html.DisplayFor(model => model.User.Email)
                </h4>
                <h4>
                    @Html.DisplayFor(model => model.User.Role)
                </h4>
                <h4>
                    @Html.DisplayFor(model => model.UserInfo.FullName)
                </h4>
                <h4>
                    @Html.DisplayFor(model => model.UserInfo.Gender)
                </h4>
                <h4>
                    @Html.DisplayFor(model => model.UserInfo.BirthDate)
                </h4>
                <h4>
                    @Html.DisplayFor(model => model.UserInfo.Address)
                </h4>
                <h4>
                    @Html.DisplayFor(model => model.UserInfo.PhoneNumber)
                </h4>
            </div>
        </div>
        <a asp-action="Update" asp-route-id="@Model.User.Id">Edit Login</a>
        <a asp-controller="UserInfoes" asp-action="Edit" asp-route-id="@Model.User.UserInfo.Id">Edit Info</a>
    </div>
</div>
