@model CoolBook.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Author</h4>
    <hr />
    <div class="cb-details">
        <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="@Html.DisplayFor(model => model.Name)" />

        <div class="cb-details-cols">
            <div>
                <h4>
                    @Html.DisplayNameFor(model => model.Name)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.Gender)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.Country)
                </h4>
                <h4>
                    @Html.DisplayNameFor(model => model.Books)
                </h4>
            </div>
            <div>
                <h4>
                    @Html.DisplayFor(model => model.Name)
                </h4>
                <h4>
                    @Html.DisplayFor(model => model.BirthDate)
                </h4>
                <h4>
                    @Html.DisplayFor(model => model.Gender)
                </h4>
                <h4>
                    @Html.DisplayFor(model => model.Country)
                </h4>
                <h4>
                    @if (Model.Books != null && Model.Books.Any())
                    {
                        @string.Join(", ", Model.Books.Select(b => b.Name));
                    }
                    else
                    {
                        @("None")
                    }
                </h4>
            </div>
        </div>
    </div>
</div>

<div>
    @if (Context.User != null && Context.User.Claims != null && (Context.User.IsInRole("Manager") || Context.User.IsInRole("Admin")))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    | <a asp-action="Index">Back to List</a>
</div>
