@model CoolBook.Models.Review

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link href="@Url.Content("~/css/Reviews/Details.css")" rel="stylesheet" type="text/css" />
}

@{
    string username = Model.User.UserInfo != null ? Model.User.UserInfo.FullName : Model.User.UserName;
}

<div class="cb-review-container">
    <h2>Review</h2>
    <hr />
    <div class="toast cb-review show">
        <div class="toast-header">
            <i class="bi bi-person-circle me-2"></i>
            <strong class="me-auto">
                <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.UserId">
                    @username
                </a>
                &nbsp;-&nbsp;
                <a asp-controller="Books" asp-action="Details" asp-route-id="@Model.BookId">
                    @Model.Book.Name
                </a>
            </strong>
            <aside class="text-muted">@Model.Date.ToShortDateString()</aside>
        </div>
        <div class="toast-body">
            <h4>
                @Model.Title
                <input class="cb-rating"
                       type="range"
                       min="0"
                       max="5"
                       step="0.1"
                       disabled
                       value="@Model.Rate">
            </h4>
            @Model.Body
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Search">Back to List</a>
    </div>

</div>