@{
    ViewData["Title"] = "Home Page";
    ViewData["colored"] = true;
}

@section Styles {
    <link href="@Url.Content("~/css/Home/Index.css")" rel="stylesheet" type="text/css" />
}

@{
    const int BOOKS_IN_SLIDE = 3;

    IEnumerable<Book> randomBooks = ViewBag.RandomBooks;
    randomBooks = randomBooks.Concat(randomBooks);

    List<Book> mostViewedBooks = ViewBag.MostViewedBooks;
    int carouselSlides = (mostViewedBooks.Count - 1) / BOOKS_IN_SLIDE + 1;
}

<div class="cb-main-color text-light">
    <h1>Enjoy the best books at CoolBook.</h1>
    <form asp-controller="Books" asp-action="Search">
        <input name="Name" class="form-control-lg" placeholder="Search" />
        <button type="submit" formmethod="get">
            <i class="bi bi-search"></i>
        </button>
    </form>
    <div class="cb-marquee">
        <div class="cb-track">
            @foreach (var book in randomBooks)
            {
                <a class="card cb-book-card" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">
                    <img class="card-img-top" src="@book.ImageUrl" alt="@book.Name" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-offset="0,5" title="@book.Name">
                </a>
            }
        </div>
    </div>
</div>

<h2 class="text-center">Most viewed books</h2>

<div id="booksCarousel" class="carousel carousel-dark slide cb-book-carousel" data-bs-ride="carousel">
    <div class="carousel-indicators">
        @for (int i = 0; i < carouselSlides; i++)
        {
            <button type="button" data-bs-target="#booksCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
        }
    </div>
    <div class="carousel-inner">
        @for (int i = 0; i < carouselSlides; i++)
        {
            <div class="carousel-item @(i == 0 ? "active" : "")">
                <div class="cb-carousel-item">
                    @for (int j = 0; j < BOOKS_IN_SLIDE; j++)
                    {
                        if (i * BOOKS_IN_SLIDE + j < mostViewedBooks.Count)
                        {
                            var book = mostViewedBooks[i * BOOKS_IN_SLIDE + j];
                            <a class="card cb-book-card" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">
                                <img class="card-img-top" src="@book.ImageUrl" alt="@book.Name">
                                <div class="card-body">
                                    <h5 class="card-title cb-book-title">@book.Name</h5>
                                </div>
                            </a>
                        }
                        else
                        {
                            <div></div>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#booksCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#booksCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@* TODO: Add most viewed books here *@