@model CoolBook.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
        <dt class="col-sm-2">
            Image:
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Book Image" style="height:150px;width:150px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class="col-sm-10">
            <div class="list-group">
                @if (Model.Categories != null && Model.Categories.Any())
                {
                    foreach (var category in Model.Categories)
                    {
                        <div class="col-sm-5" style="width: 100%"> @category.Name </div>
                    }
                }
            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>

        <div style="margin: 10px">
            @using (Html.BeginForm("Add", "Reviews", FormMethod.Post))
            {
            <div class="input-group">
                @Html.Hidden("BookId", Model.Id)
                <input type="text" name="Title" class="form-control" placeholder="Title">
                <textarea name="Body" class="form-control" aria-label="With textarea"></textarea>
                <span>Product Rating:</span>
                <input type="range" name="Rate" class="form-range" min="0" max="5" id="rateRange">
                <input  type="submit" value="Add Review" class="btn btn-default" style='margin-top:1%' />
                <br />
            </div>
            }
        </div>

<dd class="col-sm-10">
            <div class="list-group">
                @if (Model.Reviews != null && Model.Reviews.Any())
                {
                    foreach (var review in Model.Reviews)
                    {
                        <div class="col-sm-5" style="width: 100%">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="col-sm-8">@review.Title </h4>
                                    <div class="col-sm-4">
                                        <strong>@review.User.UserName</strong>
                                        <strong>Rating : @review.Rate</strong>
                                        <span class="text-muted">@review.Date</span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    @review.Body
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
