@model CoolBook.Models.Book

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link href="@Url.Content("~/css/Books/Details.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <h4 class="cb-margin-title">
        Book details
    </h4>
</div>

<div class="container-fluid">
    <div class="cb-book-details">
        <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="@Html.DisplayFor(model => model.Name)" />
        <div class="cb-book-details-content">
            <h1>
                @Html.DisplayFor(model => model.Name)
            </h1>
            <h5>
                by @Html.DisplayFor(model => model.Author.Name)
            </h5>

            <div class="cb-book-rating">
                <input class="cb-rating"
                       type="range"
                       min="0"
                       max="5"
                       step="0.1"
                       disabled
                       value="@Html.DisplayFor(model => model.Rate)">
                @Html.DisplayFor(model => model.Rate) (TODO: add number of ratings here)
            </div>

            <div class="cb-book-details-price">@Html.DisplayFor(model => model.Price)</div>
            <div>

                Published at @Html.DisplayFor(model => model.PublishDate)
            </div>
            <div class="cb-book-details-categories">
                @if (Model.Categories != null && Model.Categories.Any())
                {
                    foreach (var category in Model.Categories)
                    {
                        if (Model.Categories.Last() == category)
                        {
                            @category.Name
                        }
                        else
                        {
                            @(category.Name + ", ")
                        }
                    }
                }
            </div>
        </div>

    </div>
</div>
@*
    <div>
        <hr />
        <dl class="row">
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PublishDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PublishDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rate)
            </dd>
            <dt class="col-sm-2">
                Image:
            </dt>
            <dd class="col-sm-10">
                <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Book Image" style="height:150px;width:150px" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Categories)
            </dt>
            <dd class="col-sm-10">
                <div class="list-group">
                    @if (Model.Categories != null && Model.Categories.Any())
                    {
                        foreach (var category in Model.Categories)
                        {
                            <div class="col-sm-5" style="width: 100%"> @category.Name </div>
                        }
                    }
                </div>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reviews)
            </dt>

            <div style="margin: 10px">
                @using (Html.BeginForm("Add", "Reviews", FormMethod.Post))
                {
                    <div class="input-group">
                        @Html.Hidden("BookId", Model.Id)
                        <input type="text" name="Title" class="form-control" placeholder="Title">
                        <textarea name="Body" class="form-control" aria-label="With textarea"></textarea>
                        <span>Product Rating:</span>

                        <label class="rating-label">
                            <strong>No JS, using <code>box-shadow</code></strong>
                            <input name="Rate"
                                   class="cb-rating"
                                   id="rateRange"
                                   min="0"
                                   max="5"
                                   step="0.5"
                                   type="range">
                        </label>
                        <input type="submit" value="Add Review" class="btn btn-default" style='margin-top:1%' />
                        <br />
                    </div>
                }
            </div>

            <dd class="col-sm-10">
                <div class="list-group">
                    @if (Model.Reviews != null && Model.Reviews.Any())
                    {
                        foreach (var review in Model.Reviews)
                        {
                            <div class="col-sm-5" style="width: 100%">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="col-sm-8">@review.Title </h4>
                                        <div class="col-sm-4">
                                            <strong>@review.User.UserName</strong>
                                            <strong>Rating : @review.Rate</strong>
                                            <span class="text-muted">@review.Date</span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        @review.Body
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
*@